<?xml version="1.0" encoding="UTF-8"?>

<!-- $Id$ -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>
	
	<bean id="acegiFilter" class="org.acegisecurity.util.FilterChainProxy">
		<property name="filterInvocationDefinitionSource"><value>
			PATTERN_TYPE_APACHE_ANT
			/**=httpSessionContextIntegrationFilter,logoutFilter,authenticationProcessingFilter,anonymousProcessingFilter,exceptionTranslationFilter,filterSecurityInterceptor
		</value></property>
	</bean>
	
	<bean id="httpSessionContextIntegrationFilter" class="org.acegisecurity.context.HttpSessionContextIntegrationFilter">
	
	</bean>
	
	<bean id="authenticationProcessingFilter" class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilter">
		<property name="authenticationManager" ref="authenticationManager"/>
		<property name="authenticationFailureUrl" value="/enter?loginAttempted=true"/>
		<property name="defaultTargetUrl" value="/dashboard"/>
		<property name="filterProcessesUrl" value="/enter/process"/>
	</bean>
	
	<bean id="authenticationProcessingFilterEntryPoint" class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilterEntryPoint">
		<property name="loginFormUrl" value="/enter"/>
	</bean>
	
	<bean id="logoutFilter" class="org.acegisecurity.ui.logout.LogoutFilter">
		<constructor-arg value="/"/>
		<constructor-arg><bean class="org.acegisecurity.ui.logout.SecurityContextLogoutHandler"/></constructor-arg>
		<property name="filterProcessesUrl" value="/exit"/>
	</bean>
	
	<bean id="exceptionTranslationFilter" class="org.acegisecurity.ui.ExceptionTranslationFilter">
		<property name="authenticationEntryPoint" ref="authenticationProcessingFilterEntryPoint"/>
		<property name="accessDeniedHandler">
			<bean class="org.acegisecurity.ui.AccessDeniedHandlerImpl">
				<property name="errorPage" value="/WEB-INF/jsp/security/accessDenied.jsp"/>
			</bean>
		</property>
	</bean>
	
	<bean id="authenticationManager" class="org.acegisecurity.providers.ProviderManager">
		<property name="providers"><list>
			<ref local="daoAuthenticationProvider"/>
			<ref local="anonymousAuthenticationProvider"/>
		</list></property>
	</bean>
	
	<bean id="daoAuthenticationProvider" class="org.acegisecurity.providers.dao.DaoAuthenticationProvider">
		<property name="userDetailsService" ref="daoUserDetailsService"/>
	</bean>
	
	<bean id="daoUserDetailsService" class="edu.uoregon.cs.presenter.security.DaoUserDetailsService">
		<property name="dao" ref="dao"/>
	</bean>
	
	<bean id="anonymousProcessingFilter" class="org.acegisecurity.providers.anonymous.AnonymousProcessingFilter">
		<property name="key" value="anonymous"/>
		<property name="userAttribute" value="anonymous,ROLE_ANONYMOUS"/>
	</bean>

	<bean id="anonymousAuthenticationProvider" class="org.acegisecurity.providers.anonymous.AnonymousAuthenticationProvider">
		<property name="key" value="anonymous"/>
	</bean>
	
	<bean id="accessDecisionManager" class="org.acegisecurity.vote.AffirmativeBased">
		<property name="decisionVoters"><list>
			<bean class="org.acegisecurity.vote.AuthenticatedVoter"/>
			<bean class="org.acegisecurity.vote.RoleVoter"/>
		</list></property>
	</bean>
	
	<bean id="filterSecurityInterceptor" class="org.acegisecurity.intercept.web.FilterSecurityInterceptor">
		<property name="authenticationManager" ref="authenticationManager"/>
		<property name="accessDecisionManager" ref="accessDecisionManager"/>
		<property name="objectDefinitionSource"><value>
			PATTERN_TYPE_APACHE_ANT
			/=IS_AUTHENTICATED_ANONYMOUSLY
			/public/**=IS_AUTHENTICATED_ANONYMOUSLY
			/static/**=IS_AUTHENTICATED_ANONYMOUSLY
			/enter**=IS_AUTHENTICATED_ANONYMOUSLY
			/exit=IS_AUTHENTICATED_ANONYMOUSLY
			/welcome**=IS_AUTHENTICATED_ANONYMOUSLY
			/ubiquitous/**=IS_AUTHENTICATED_ANONYMOUSLY
			/instructor/**=ROLE_INSTRUCTOR,ROLE_ADMIN
			/admin/**=ROLE_ADMIN
			/**=ROLE_STUDENT,ROLE_INSTRUCTOR,ROLE_ADMIN
		</value></property>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="hibernateProperties"><props>
			<prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
			<prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/presenter</prop>
			<prop key="hibernate.connection.username">presenter</prop>
			<prop key="hibernate.connection.password">presenter</prop>
			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			
			<!-- debugging -->
			<prop key="hibernate.show_sql">true</prop>
		</props></property>
		
		<!-- <property name="dataSource"><jee:jndi-lookup jndi-name="java:/comp/env/jdbc/database"/></property> -->
		
		<property name="annotatedClasses"><list>
			<value>org.p2presenter.server.model.Course</value>
			<value>org.p2presenter.server.model.InteractivityDefinition</value>
			<value>org.p2presenter.server.model.Lecture</value>
			<value>org.p2presenter.server.model.LectureSession</value>
			<value>org.p2presenter.server.model.Person</value>
			<value>org.p2presenter.server.model.Slide</value>
			<value>org.p2presenter.server.model.SlideSession</value>
			<value>org.p2presenter.server.model.Whiteboard</value>
			
	        <value>org.p2presenter.server.model.FreeformSubmission</value>
	        <value>org.p2presenter.server.model.FreeformSubmissionDefinition</value>
			<value>org.p2presenter.server.model.MultipleChoiceAnswer</value>
	        <value>org.p2presenter.server.model.MultipleChoiceQuestion</value>
	        <value>org.p2presenter.server.model.Submission</value>
	        <value>org.p2presenter.server.model.SubmissionDefinition</value>
	        <value>org.p2presenter.server.model.SubmissionSession</value>
		</list></property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<tx:advice id="transactionAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- <tx:method name="get*" read-only="true"/> -->
			<!-- all other methods use the default transaction settings -->
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:advisor advice-ref="transactionAdvice" pointcut="execution(* edu.uoregon.cs.presenter.dao.Dao.*(..))"/>
	</aop:config>
	
	<bean id="activeLectureController" class="edu.uoregon.cs.presenter.controller.ActiveLectureController">
		<property name="dao" ref="dao"/>
	</bean>
	
	<bean id="activeInteractivityController" class="edu.uoregon.cs.presenter.controller.ActiveInteractivityController">
	
	</bean>
	
	<bean id="ubiquitousPresenterDao" class="edu.uoregon.cs.presenter.up.UbiquitousPresenterDao">
		<property name="dao" ref="dao"/>
		<property name="activeLectureController" ref="activeLectureController"/>
	</bean>
	
	<bean id="fileManager" class="edu.uoregon.cs.presenter.controller.FileManager">
	
	</bean>

	<bean id="ubiquitousPresenterService" class="edu.uoregon.cs.presenter.up.UbiquitousPresenterServiceImpl">
		<property name="dao" ref="dao"/>
		<property name="ubiquitousPresenterDao" ref="ubiquitousPresenterDao"/>
		<property name="activeLectureController" ref="activeLectureController"/>
	</bean>
	
	<bean id="dao" class="edu.uoregon.cs.presenter.dao.DaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames"><list>
			<value>edu.uoregon.cs.presenter.messages</value>
		</list></property>
	</bean>
	
	<import resource="connector.xml"/>

</beans>