<?xml version="1.0" encoding="UTF-8"?>

<!-- $Id$ -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>
	
	<import resource="classpath:spring/security.xml"/>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="hibernateProperties"><props>
			<prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
			<prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/presenter</prop>
			<prop key="hibernate.connection.username">presenter</prop>
			<prop key="hibernate.connection.password">presenter</prop>
			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			
			<!-- debugging -->
			<prop key="hibernate.show_sql">true</prop>
		</props></property>
		
		<!-- <property name="dataSource"><jee:jndi-lookup jndi-name="java:/comp/env/jdbc/database"/></property> -->
		
		<property name="annotatedClasses"><list>
			<value>org.p2presenter.server.model.Course</value>
			<value>org.p2presenter.server.model.InteractivityDefinition</value>
			<value>org.p2presenter.server.model.Lecture</value>
			<value>org.p2presenter.server.model.LectureSession</value>
			<value>org.p2presenter.server.model.Person</value>
			<value>org.p2presenter.server.model.Slide</value>
			<value>org.p2presenter.server.model.SlideSession</value>
			<value>org.p2presenter.server.model.Whiteboard</value>
			
	        <value>org.p2presenter.server.model.FreeformSubmission</value>
	        <value>org.p2presenter.server.model.FreeformSubmissionDefinition</value>
			<value>org.p2presenter.server.model.MultipleChoiceAnswer</value>
	        <value>org.p2presenter.server.model.MultipleChoiceQuestion</value>
	        <value>org.p2presenter.server.model.Submission</value>
	        <value>org.p2presenter.server.model.SubmissionDefinition</value>
	        <value>org.p2presenter.server.model.SubmissionSession</value>
		</list></property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<tx:advice id="transactionAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- <tx:method name="get*" read-only="true"/> -->
			<!-- all other methods use the default transaction settings -->
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:advisor advice-ref="transactionAdvice" pointcut="execution(* edu.uoregon.cs.presenter.dao.Dao.*(..))"/>
	</aop:config>
	
	<bean id="activeLectureController" class="edu.uoregon.cs.presenter.controller.ActiveLectureController">
		<property name="dao" ref="dao"/>
	</bean>
	
	<bean id="activeInteractivityController" class="edu.uoregon.cs.presenter.controller.ActiveInteractivityController">
	
	</bean>
	
	<bean id="ubiquitousPresenterDao" class="edu.uoregon.cs.presenter.up.UbiquitousPresenterDao">
		<property name="dao" ref="dao"/>
		<property name="activeLectureController" ref="activeLectureController"/>
	</bean>
	
	<bean id="fileManager" class="edu.uoregon.cs.presenter.controller.FileManager">
	
	</bean>
	
	<bean id="lectureManager" class="org.p2presenter.manager.LectureManager">
		<property name="fileManager" ref="fileManager"/>
		<property name="dao" ref="dao"/>
	</bean>

	<bean id="ubiquitousPresenterService" class="edu.uoregon.cs.presenter.up.UbiquitousPresenterServiceImpl">
		<property name="dao" ref="dao"/>
		<property name="ubiquitousPresenterDao" ref="ubiquitousPresenterDao"/>
		<property name="activeLectureController" ref="activeLectureController"/>
	</bean>
	
	<bean id="dao" class="edu.uoregon.cs.presenter.dao.DaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames"><list>
			<value>edu.uoregon.cs.presenter.messages</value>
		</list></property>
	</bean>
	
	<import resource="connector.xml"/>

</beans>