<?xml version="1.0" encoding="UTF-8"?>

<beans:beans
	xmlns="http://ryanberdeen.com/routes/schema"
	xmlns:r="http://ryanberdeen.com/routes/schema"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
		http://ryanberdeen.com/routes/schema http://schema.ryanberdeen.com/routes/routes-0.1.xsd">

	<routes id="routes">
		<parameter name="action" value="index" default="true"/>

		<connect
			r:pattern="/"
			r:name="home"
			controller="home"/>

		<connect
			r:pattern="/dashboard"
			r:name="dashboard"
			controller="dashboard"
			action="index"/>

		<connect
			r:pattern="/welcome"
			controller="newUser"/>

		<connect
			r:pattern="/enter"
			controller="loginForm"/>

		<connect
			r:pattern="/exit"
			r:name="logOut"/>

		<connect r:pattern="/profile" r:name="editProfile" controller="profile"/>

		<!-- student routes -->
		<with r:patternPrefix="/student">
			<connect r:pattern="/subjects/" controller="studentSubject" action="index"/>
			<connect r:pattern="/subjects/:subject" controller="studentSubject" action="show"/>
			<connect r:pattern="/courses/:action" controller="studentCourse" action="index"/>
			<connect r:pattern="/courses/:id/:action" controller="studentCourse" action="show"/>

			<resource r:pattern="/lectures/" controller="studentLecture"/>
		</with>

		<connect r:pattern="/lectures/:lectureId" controller="lecture"/>
		<connect r:pattern="/lectures/:lectureId/watch" controller="lectureSession"/>
		<connect r:pattern="/watch/:lectureSessionId" controller="lectureSession"/>
		<connect r:pattern="/watch/:lectureSessionId/submit/freeform" controller="acceptFreeformSubmission"/>
		<connect
			r:pattern="/slides/:id.png"
			r:name="slideImage"
			controller="slideImage"/>
		<connect
			r:pattern="/slides/previews/:id.png"
			r:name="slideThumbnailImage"
			controller="slideImage"
			type="thumbnail"/>
		<connect r:pattern="/ink/slides/:slideSessionId/:inkIndex.png" controller="inkImage"/>
		<connect r:pattern="/ink/whiteboards/:whiteboardId/:inkIndex.png" controller="whiteboardImage"/>

		<!-- instructor routes -->
		<with r:patternPrefix="/instructor">
			<connect r:pattern="/courses/:courseId/createLecture" controller="lectureCreate"/>

			<resource r:pattern="/courses/" controller="instructorCourse">
				<collection>
					<apply action="new"/>
					<apply action="create"/>
					<apply action="my"/>
				</collection>
				<member>
					<apply action="roster"/>
				</member>
			</resource>

			<connect r:pattern="/lectures/:id.:format" controller="instructorLecture" action="show"/>
			<connect r:pattern="/lectures/:id/:action" controller="instructorLecture" action="show"/>
			<connect r:pattern="/lectures/:lectureId/slides/create" controller="newSlide"/>
			<connect r:pattern="/slides/:id/edit" controller="simpleEditSlide"/>

			<connect r:pattern="/lectureSession/:id/:action" controller="instructorLectureSession" action="show"/>
		</with>

		<!-- administrator routes -->
		<with r:patternPrefix="/admin">
			<connect r:pattern="/" controller="adminDashboard"/>
			<connect r:pattern="/addRole" controller="simpleAddRole"/>
			<connect r:pattern="/removeRole" controller="simpleRemoveRole"/>
		</with>
	</routes>
</beans:beans>
