<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@cs.uoregon.edu:1521:451F06</property>
        <property name="hibernate.connection.username">ryan</property>
        <property name="hibernate.connection.password">cis451551</property>
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
        
        <mapping class="edu.uoregon.cs.presenter.entity.Slide"/>
        <mapping class="edu.uoregon.cs.presenter.entity.Annotation"/>
        <mapping class="edu.uoregon.cs.presenter.entity.Course"/>
        <mapping class="edu.uoregon.cs.presenter.entity.Lecture"/>
        <mapping class="edu.uoregon.cs.presenter.entity.LectureSession"/>
        <mapping class="edu.uoregon.cs.presenter.entity.SlideSession"/>
        <mapping class="edu.uoregon.cs.presenter.entity.Person"/>
    </session-factory>
</hibernate-configuration>
